In [51]:
import pandas as pd
import numpy as np

In [52]:
city_cc= pd.read_excel('C:\\Users\\Dreamuser\\Desktop\\Numpy Class\\Dataset\\cc.xlsx')
city_cc

,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi
0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018
1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029
2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349
3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677
4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001
...,...,...,...,...,...,...,...,...,...
477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000
478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073
479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078
480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005
481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000

In [53]:
latitude=np.array(city_cc["latd"])
longtitude= np.array(city_cc["longd"])
city=np.array(city_cc["city"])

print("latitude:",latitude, "\n")
print("longtitude:", longtitude, '\n')
print("city:", city)

latitude: [34.57611111 34.15333333 37.75611111 37.88694444 34.08194444 33.575
 41.48722222 38.41944444 38.16805556 33.83611111 40.45222222 38.06833333
 38.005      34.51666667 34.13277778 40.86638889 35.12083333 33.86722222
 35.20916667 35.48416667 37.45861111 37.34777778 38.89861111 33.34083333
 36.00416667 34.13055556 35.36666667 34.08277778 33.93166667 34.9
 33.92416667 33.98333333 33.88805556 33.96805556 37.51805556 37.87277778
 38.06333333 37.87166667 34.07305556 34.24138889 39.41388889 37.3635
 40.88277778 33.61027778 34.14944444 32.97861111 33.92333333 37.93194444
 37.68083333 34.61416667 33.85611111 34.18027778 37.58333333 34.13833333
 32.67888889 35.12583333 33.98805556 33.12555556 38.58138889 34.23333333
 37.28388889 33.68416667 36.97638889 33.12194444 36.55527778 34.39916667
 33.83972222 33.80777778 37.60138889 33.86833333 39.74       34.01777778
 33.97527778 37.11666667 32.62777778 38.7        34.11       37.94111111
 38.95833333 38.79916667 36.82527778 33.67944444 36.13972222 39.09722222
 37.67888889 34.065      39.21444444 34.00055556 33.89666667 37.97805556
 36.09805556 39.92611111 33.86666667 32.67805556 37.92555556 33.665
 38.32777778 34.09166667 41.75583333 33.96416667 34.00777778 37.3175
 33.81833333 37.68638889 33.46722222 37.82166667 38.55388889 35.76888889
 32.955      36.59333333 33.96111111 34.00166667 36.545      38.44916667
 41.965      36.98333333 33.93805556 34.14027778 37.70222222 41.22166667
 37.46694444 33.96305556 32.79833333 32.8        37.91583333 38.43833333
 34.07333333 33.92138889 37.83138889 33.04444444 37.79166667 33.12472222
 41.45722222 40.80194444 36.29416667 37.98722222 38.25777778 36.30111111
 40.57666667 34.40138889 36.85888889 38.67222222 34.1        39.44583333
 41.60722222 40.59805556 37.55138889 33.70861111 36.63333333 37.54833333
 36.75       33.88       38.26083333 33.89361111 33.77888889 37.01194444
 34.17083333 34.13083333 34.44055556 36.50666667 34.03111111 39.21916667
 36.32083333 39.36388889 35.12083333 34.96555556 37.25777778 37.45888889
 36.3275     33.82861111 33.91722222 37.66888889 38.6175     33.74194444
 38.01722222 33.86638889 34.41277778 34.1675     34.11833333 37.56027778
 36.84722222 32.81111111 37.60305556 33.69277778 33.98333333 36.20277778
 32.57833333 32.8475     33.71583333 33.72       34.01666667 33.9575
 38.35277778 33.68416667 34.11666667 38.16194444 38.34888889 33.99944444
 36.72361111 36.21277778 36.51388889 34.207721   37.88583333 33.53138889
 33.59972222 33.53194444 33.60916667 33.93194444 33.96388889 33.68138889
 33.64166667 39.04305556 33.8475     32.77138889 33.90222222 34.68333333
 33.84944444 34.0325     33.67527778 37.93416667 37.81694444 34.11444444
 33.88666667 32.74138889 36.30083333 38.88722222 36.2        39.27583333
 37.68194444 37.38694444 38.12888889 34.04833333 33.79333333 34.64611111
 33.76833333 38.81638889 33.80222222 37.36805556 37.37138889 34.05
 37.05833333 37.23611111 39.67666667 33.92472222 36.96138889 34.03
 37.64861111 33.88888889 37.80277778 35.05888889 36.68444444 38.01944444
 39.15       33.98777778 35.67805556 36.75361111 33.67833333 37.45277778
 37.3        37.60083333 37.90611111 37.43472222 33.61277778 37.66138889
 34.14416667 41.72722222 34.07083333 34.01444444 36.6        34.04916667
 37.23805556 34.28083333 37.835      33.94305556 37.13055556 35.37916667
 37.38944444 41.31444444 33.56944444 38.30472222 32.67805556 34.83833333
 39.26138889 37.53333333 37.315      33.61666667 33.93111111 33.90694444
 38.1075     37.76916667 37.80444444 37.9975     33.21166667 34.44916667
 34.05277778 33.80305556 36.62444444 37.88277778 39.7475     39.51666667
 34.19138889 37.62277778 36.61777778 34.58111111 33.72555556 33.82388889
 37.42916667 33.78694444 39.75972222 33.9        36.61166667 34.15611111
 35.64083333 37.47305556 33.79666667 38.24583333 33.98888889 37.81666667
 38.00444444 35.14833333 38.02805556 33.8825     38.72972222 37.94805556
 37.6625     38.48194444 38.90888889 34.06083333 36.06861111 34.16027778
 39.81027778 37.375      32.97       38.58916667 34.12333333 33.76916667
 33.75833333 33.64138889 40.17666667 40.58333333 34.05472222 33.85638889
 37.48277778 36.59638889 34.11138889 37.93583333 35.6225     40.49916667
 38.16388889 37.74055556 37.73138889 33.94805556 38.8        38.34722222
 33.75944444 33.77361111 34.06666667 38.7525     37.9625     38.55555556
 36.67777778 37.97472222 34.1        37.62527778 37.49916667 33.43777778
 36.61722222 32.715      34.10277778 34.28722222 37.78333333 34.09416667
 36.70805556 33.78722222 36.60666667 37.33333333 36.84416667 33.49944444
 37.725      35.27416667 33.14194444 34.12277778 37.55416667 37.96222222
 37.97361111 37.78       33.74083333 34.42583333 37.35444444 34.41666667
 36.97194444 33.9375     34.95138889 34.02194444 34.35583333 38.44861111
 32.86972222 37.2725     37.85916667 37.05138889 33.75916667 36.61111111
 38.39916667 36.57083333 35.50055556 40.67805556 34.16472222 33.79935
 34.27111111 32.99527778 36.42472222 34.59388889 38.28888889 37.98444444
 34.04888889 33.94416667 38.94       34.11305556 37.65611111 33.8025
 38.50527778 37.97555556 38.245      37.37111111 40.41638889 38.39305556
 35.1425     35.13222222 40.02444444 33.50333333 34.10277778 34.18944444
 37.87361111 33.83472222 37.73805556 41.05916667 39.34222222 36.20666667
 41.95416667 37.50583333 33.73972222 34.13833333 39.15027778 37.58694444
 34.1        38.35388889 38.11305556 34.275      34.00111111 34.53611111
 33.81611111 36.31666667 33.19361111 34.03333333 37.90638889 35.59416667
 37.645      36.92       41.42416667 34.05666667 34.08777778 34.14194444
 33.75138889 33.03722222 38.58055556 39.01       33.96555556 33.60361111
 39.15472222 39.40972222 39.52444444 38.54611111 38.525      36.41638889
 38.67861111 37.42083333 33.888551   38.40305556 41.72666667 39.13472222
 34.03027778 34.13333333]

longtitude: [-117.4327778 -118.7616667 -122.2744444 -122.2977778 -118.135
 -117.7255556 -120.5425    -120.8241667 -122.2525    -117.8897222
 -122.2966667 -120.5397222 -121.8058333 -117.2166667 -118.0363889
 -124.0827778 -120.5866667 -118.0805556 -118.8283333 -120.6725
 -122.2       -120.6091667 -121.0744444 -118.3277778 -120.1288889
 -117.9069444 -119.0166667 -117.9716667 -116.8975    -117.0166667
 -116.9736111 -118.1833333 -118.1275    -118.1561111 -122.2916667
 -122.4644444 -122.1561111 -122.2727778 -118.3994444 -116.9033333
 -121.7102778 -118.3951    -123.9838889 -114.5963889 -117.9744444
 -115.5302778 -117.8888889 -121.6958333 -122.4191667 -120.1938889
 -118.0041667 -118.3283333 -122.3636111 -118.6608333 -115.4988889
 -117.9858333 -117.0430556 -115.5141667 -122.5827778 -119.0333333
 -121.955     -117.2555556 -121.9547222 -117.2969444 -121.9233333
 -119.5163889 -118.2597222 -116.4647222 -120.9572222 -118.0675
 -121.8355556 -117.69      -117.7230556 -120.2666667 -117.0480556
 -121.2833333 -117.7197222 -121.9358333 -122.6263889 -123.0172222
 -119.7030556 -116.1744444 -120.3602778 -120.9538889 -122.4555556
 -117.3216667 -122.0094444 -118.1547222 -118.225     -122.0311111
 -119.5602778 -122.1805556 -117.5666667 -117.1725    -122.5275
 -117.9122222 -122.7091667 -117.8791667 -124.2016667 -118.1825
 -118.4008333 -122.0419444 -118.0391667 -122.4683333 -117.6980556
 -122.        -121.7380556 -119.2469444 -117.2638889 -121.835
 -116.5080556 -117.8208333 -119.3891667 -121.8269444 -121.9188889
 -120.6333333 -118.1308333 -117.9616667 -121.9358333 -122.2730556
 -122.1397222 -117.5638889 -116.96      -115.5666667 -122.3116667
 -121.3819444 -118.0275    -118.4061111 -122.2852778 -117.2716667
 -120.9916667 -117.0808333 -122.8969444 -124.1636111 -119.1427778
 -122.5888889 -122.0541667 -119.2075    -124.2633333 -118.9177778
 -120.4561111 -121.1577778 -117.4666667 -123.8052778 -122.8419444
 -124.1572222 -122.2663889 -117.9563889 -119.6833333 -121.9886111
 -119.7666667 -117.9286111 -121.3030556 -118.3077778 -117.9602778
 -121.58      -118.25      -117.8541667 -119.8136111 -121.4444444
 -117.3166667 -121.0583333 -121.2438889 -121.6936111 -120.6194444
 -120.5730556 -120.9988889 -122.4369444 -119.6455556 -118.0736111
 -118.3486111 -122.0808333 -122.8663889 -116.9830556 -122.2886111
 -118.3997222 -117.3061111 -118.6608333 -117.2025    -122.3563889
 -121.3983333 -115.3802778 -120.8669444 -118.0002778 -118.2166667
 -120.1030556 -117.1172222 -115.5694444 -116.3411111 -116.2319444
 -117.95      -118.3461111 -120.9327778 -117.7925    -117.9666667
 -121.6091667 -120.7741667 -117.4752778 -120.06      -121.1261111
 -119.5538889 -118.206979  -122.1180556 -117.7691667 -117.6994444
 -117.7025    -117.7327778 -117.9461111 -117.9527778 -117.3452778
 -117.6908333 -122.9158333 -118.12      -117.0227778 -118.0097222
 -118.15      -118.0438889 -117.9552778 -116.2975    -122.5352778
 -121.2886111 -117.7713889 -118.3536111 -117.0316667 -119.7827778
 -121.2961111 -119.0833333 -121.66      -121.7680556 -120.7236111
 -121.2808333 -117.2505556 -118.3161111 -120.4602778 -118.1955556
 -121.1927778 -118.0644444 -122.0975    -122.1375    -118.25
 -120.85      -121.9616667 -120.2430556 -118.2019444 -120.0608333
 -118.75      -118.9719444 -118.4052778 -121.2208333 -119.4008333
 -121.8022222 -122.1341667 -121.5833333 -118.1866667 -119.2291667
 -120.3816667 -117.1669444 -122.1833333 -120.4833333 -122.4013889
 -122.545     -121.895     -117.6561111 -120.9944444 -118.0019444
 -122.5263889 -117.6975    -118.1144444 -121.9       -118.1355556
 -121.9894444 -118.8733333 -122.1297222 -117.2283333 -121.6544444
 -120.8533333 -122.0819444 -122.3113889 -117.2025    -122.2988889
 -117.0991667 -114.6111111 -121.0186111 -122.0333333 -121.0225
 -117.8975    -117.5486111 -118.0833333 -122.5697222 -120.8569444
 -122.2708333 -121.7125    -117.3258333 -119.2466667 -117.6277778
 -117.8325    -119.3136111 -122.1797222 -122.1963889 -121.55
 -119.1825    -122.4855556 -121.9166667 -118.1005556 -116.3694444
 -116.5302778 -122.1380556 -118.3966667 -121.6213889 -118.1666667
 -119.5269444 -118.1319444 -120.6538889 -121.1327778 -117.2244444
 -122.6313889 -118.0891667 -122.2333333 -122.2911111 -120.6480556
 -121.8847222 -117.855     -120.7986111 -122.0525    -121.8747222
 -120.8447222 -123.6930556 -117.7558333 -119.0275    -119.1944444
 -120.4697222 -122.2186111 -117.0386111 -121.3027778 -117.5794444
 -116.4211111 -118.3641667 -117.5944444 -122.2380556 -122.3666667
 -117.1825    -118.3769444 -122.2361111 -119.4502778 -117.3825
 -122.3477778 -117.6708333 -124.1063889 -121.6958333 -121.1283333
 -120.9436111 -117.3961111 -121.2466667 -122.6952778 -118.3416667
 -118.3608333 -118.0833333 -121.2894444 -122.555     -121.4688889
 -121.6555556 -122.5616667 -117.3       -122.4252778 -122.2633333
 -117.6202778 -121.8483333 -117.1625    -117.8161111 -118.4388889
 -122.4166667 -118.0983333 -119.5558333 -116.9666667 -120.1891667
 -121.9       -121.5372222 -117.6616667 -122.1561111 -120.6630556
 -117.1702778 -118.1130556 -122.3130556 -122.3455556 -122.5311111
 -121.9780556 -117.8813889 -119.7141667 -121.9691667 -118.5063889
 -122.0263889 -118.0672222 -120.4333333 -118.4813889 -119.0683333
 -122.7047222 -116.9711111 -122.0194444 -122.4852778 -122.0133333
 -118.0825    -121.8447222 -122.8269444 -119.6119444 -119.2716667
 -122.37      -118.0508333 -118.16558   -118.7394444 -117.2602778
 -121.3263889 -120.1397222 -122.4588889 -120.3816667 -118.0483333
 -118.195     -119.9769444 -118.1558333 -122.4255556 -117.9944444
 -122.4702778 -121.3008333 -122.0169444 -122.0375    -120.6530556
 -120.8025    -119.4563889 -118.4488889 -122.1238889 -117.1236111
 -118.0580556 -118.875     -122.4566667 -118.3413889 -121.4338889
 -124.1430556 -120.2036111 -119.3425    -121.4758333 -120.8488889
 -117.8136111 -116.0725    -123.2077778 -122.0258333 -117.65
 -121.9727778 -122.2358333 -119.2277778 -118.2111111 -117.2883333
 -117.8111111 -119.3       -117.2411111 -117.8666667 -122.065
 -119.3408333 -120.7675    -121.7636111 -122.3844444 -117.9186111
 -118.3722222 -118.8194444 -117.9938889 -115.6213889 -121.5302778
 -121.4230556 -118.0244444 -117.2727778 -122.1494444 -123.3555556
 -122.1936111 -122.8052778 -121.9708333 -119.0994444 -121.7733333
 -122.2597222 -117.813231  -122.3622222 -122.6375    -121.6261111
 -117.0486111 -116.4166667]

city: ['Adelanto' 'AgouraHills' 'Alameda' 'Albany' 'Alhambra' 'AlisoViejo'
 'Alturas' 'AmadorCity' 'AmericanCanyon' 'Anaheim' 'Anderson' 'AngelsCamp'
 'Antioch' 'AppleValley' 'Arcadia' 'Arcata' 'ArroyoGrande' 'Artesia'
 'Arvin' 'Atascadero' 'Atherton' 'Atwater' 'Auburn' 'Avalon' 'Avenal'
 'Azusa' 'Bakersfield' 'BaldwinPark' 'Banning' 'Barstow' 'Beaumont' 'Bell'
 'Bellflower' 'BellGardens' 'Belmont' 'Belvedere' 'Benicia' 'Berkeley'
 'BeverlyHills' 'BigBearLake' 'Biggs' 'Bishop' 'BlueLake' 'Blythe'
 'Bradbury' 'Brawley' 'Brea' 'Brentwood' 'Brisbane' 'Buellton' 'BuenaPark'
 'Burbank' 'Burlingame' 'Calabasas' 'Calexico' 'CaliforniaCity' 'Calimesa'
 'Calipatria' 'Calistoga' 'Camarillo' 'Campbell' 'CanyonLake' 'Capitola'
 'Carlsbad' 'CarmelbytheSea' 'Carpinteria' 'Carson' 'CathedralCity'
 'Ceres' 'Cerritos' 'Chico' 'Chino' 'ChinoHills' 'Chowchilla' 'ChulaVista'
 'CitrusHeights' 'Claremont' 'Clayton' 'Clearlake' 'Cloverdale' 'Clovis'
 'Coachella' 'Coalinga' 'Colfax' 'Colma' 'Colton' 'Colusa' 'Commerce'
 'Compton' 'Concord' 'Corcoran' 'Corning' 'Corona' 'Coronado'
 'CorteMadera' 'CostaMesa' 'Cotati' 'Covina' 'CrescentCity' 'Cudahy'
 'CulverCity' 'Cupertino' 'Cypress' 'DalyCity' 'DanaPoint' 'Danville'
 'Davis' 'Delano' 'DelMar' 'DelReyOaks' 'DesertHotSprings' 'DiamondBar'
 'Dinuba' 'Dixon' 'Dorris' 'DosPalos' 'Downey' 'Duarte' 'Dublin'
 'Dunsmuir' 'EastPaloAlto' 'Eastvale' 'ElCajon' 'ElCentro' 'ElCerrito'
 'ElkGrove' 'ElMonte' 'ElSegundo' 'Emeryville' 'Encinitas' 'Escalon'
 'Escondido' 'Etna' 'Eureka' 'Exeter' 'Fairfax' 'Fairfield' 'Farmersville'
 'Ferndale' 'Fillmore' 'Firebaugh' 'Folsom' 'Fontana' 'FortBragg'
 'FortJones' 'Fortuna' 'FosterCity' 'FountainValley' 'Fowler' 'Fremont'
 'Fresno' 'Fullerton' 'Galt' 'Gardena' 'GardenGrove' 'Gilroy' 'Glendale'
 'Glendora' 'Goleta' 'Gonzales' 'GrandTerrace' 'GrassValley' 'Greenfield'
 'Gridley' 'GroverBeach' 'Guadalupe' 'Gustine' 'HalfMoonBay' 'Hanford'
 'HawaiianGardens' 'Hawthorne' 'Hayward' 'Healdsburg' 'Hemet' 'Hercules'
 'HermosaBeach' 'Hesperia' 'HiddenHills' 'Highland' 'Hillsborough'
 'Hollister' 'Holtville' 'Hughson' 'HuntingtonBeach' 'HuntingtonPark'
 'Huron' 'ImperialBeach' 'Imperial' 'IndianWells' 'Indio' 'Industry'
 'Inglewood' 'Ione' 'Irvine' 'Irwindale' 'Isleton' 'Jackson'
 'JurupaValley' 'Kerman' 'KingCity' 'Kingsburg' 'LaCaadaFlintridge'
 'Lafayette' 'LagunaBeach' 'LagunaHills' 'LagunaNiguel' 'LagunaWoods'
 'LaHabra' 'LaHabraHeights' 'LakeElsinore' 'LakeForest' 'Lakeport'
 'Lakewood' 'LaMesa' 'LaMirada' 'Lancaster' 'LaPalma' 'LaPuente'
 'LaQuinta' 'Larkspur' 'Lathrop' 'LaVerne' 'Lawndale' 'LemonGrove'
 'Lemoore' 'Lincoln' 'Lindsay' 'LiveOakSutterCounty' 'Livermore'
 'Livingston' 'Lodi' 'LomaLinda' 'Lomita' 'Lompoc' 'LongBeach' 'Loomis'
 'LosAlamitos' 'LosAltos' 'LosAltosHills' 'LosAngeles' 'LosBanos'
 'LosGatos' 'Loyalton' 'Lynwood' 'Madera' 'Malibu' 'MammothLakes'
 'ManhattanBeach' 'Manteca' 'Maricopa' 'Marina' 'Martinez' 'Marysville'
 'Maywood' 'McFarland' 'Mendota' 'Menifee' 'MenloPark' 'Merced' 'Millbrae'
 'MillValley' 'Milpitas' 'MissionViejo' 'Modesto' 'Monrovia' 'Montague'
 'Montclair' 'Montebello' 'Monterey' 'MontereyPark' 'MonteSereno'
 'Moorpark' 'Moraga' 'MorenoValley' 'MorganHill' 'MorroBay' 'MountainView'
 'MountShasta' 'Murrieta' 'Napa' 'NationalCity' 'Needles' 'NevadaCity'
 'Newark' 'Newman' 'NewportBeach' 'Norco' 'Norwalk' 'Novato' 'Oakdale'
 'Oakland' 'Oakley' 'Oceanside' 'Ojai' 'Ontario' 'Orange' 'OrangeCove'
 'Orinda' 'Orland' 'Oroville' 'Oxnard' 'Pacifica' 'PacificGrove'
 'Palmdale' 'PalmDesert' 'PalmSprings' 'PaloAlto' 'PalosVerdesEstates'
 'Paradise' 'Paramount' 'Parlier' 'Pasadena' 'PasoRobles' 'Patterson'
 'Perris' 'Petaluma' 'PicoRivera' 'Piedmont' 'Pinole' 'PismoBeach'
 'Pittsburg' 'Placentia' 'Placerville' 'PleasantHill' 'Pleasanton'
 'Plymouth' 'PointArena' 'Pomona' 'Porterville' 'PortHueneme' 'Portola'
 'PortolaValley' 'Poway' 'RanchoCordova' 'RanchoCucamonga' 'RanchoMirage'
 'RanchoPalosVerdes' 'RanchoSantaMargarita' 'RedBluff' 'Redding'
 'Redlands' 'RedondoBeach' 'RedwoodCity' 'Reedley' 'Rialto' 'Richmond'
 'Ridgecrest' 'RioDell' 'RioVista' 'Ripon' 'Riverbank' 'Riverside'
 'Rocklin' 'RohnertPark' 'RollingHills' 'RollingHillsEstates' 'Rosemead'
 'Roseville' 'Ross' 'Sacramento' 'Salinas' 'SanAnselmo' 'SanBernardino'
 'SanBruno' 'SanCarlos' 'SanClemente' 'SandCity' 'SanDiego' 'SanDimas'
 'SanFernando' 'SanFrancisco' 'SanGabriel' 'Sanger' 'SanJacinto'
 'SanJoaquin' 'SanJose' 'SanJuanBautista' 'SanJuanCapistrano' 'SanLeandro'
 'SanLuisObispo' 'SanMarcos' 'SanMarino' 'SanMateo' 'SanPablo' 'SanRafael'
 'SanRamon' 'SantaAna' 'SantaBarbara' 'SantaClara' 'SantaClarita'
 'SantaCruz' 'SantaFeSprings' 'SantaMaria' 'SantaMonica' 'SantaPaula'
 'SantaRosa' 'Santee' 'Saratoga' 'Sausalito' 'ScottsValley' 'SealBeach'
 'Seaside' 'Sebastopol' 'Selma' 'Shafter' 'ShastaLake' 'SierraMadre'
 'SignalHill' 'SimiValley' 'SolanaBeach' 'Soledad' 'Solvang' 'Sonoma'
 'Sonora' 'SouthElMonte' 'SouthGate' 'SouthLakeTahoe' 'SouthPasadena'
 'SouthSanFrancisco' 'Stanton' 'StHelena' 'Stockton' 'SuisunCity'
 'Sunnyvale' 'Susanville' 'SutterCreek' 'Taft' 'Tehachapi' 'Tehama'
 'Temecula' 'TempleCity' 'ThousandOaks' 'Tiburon' 'Torrance' 'Tracy'
 'Trinidad' 'Truckee' 'Tulare' 'Tulelake' 'Turlock' 'Tustin'
 'TwentyninePalms' 'Ukiah' 'UnionCity' 'Upland' 'Vacaville' 'Vallejo'
 'Ventura' 'Vernon' 'Victorville' 'VillaPark' 'Visalia' 'Vista' 'Walnut'
 'WalnutCreek' 'Wasco' 'Waterford' 'Watsonville' 'Weed' 'WestCovina'
 'WestHollywood' 'WestlakeVillage' 'Westminster' 'Westmorland'
 'WestSacramento' 'Wheatland' 'Whittier' 'Wildomar' 'Williams' 'Willits'
 'Willows' 'Windsor' 'Winters' 'Woodlake' 'Woodland' 'Woodside'
 'YorbaLinda' 'Yountville' 'Yreka' 'YubaCity' 'Yucaipa' 'YuccaValley']

In [54]:
# sum of latitude
print("Total Latd;", np.sum(latitude), "\n")
print("Total longd;", np.sum(longtitude), "\n")
print("latd_mean;", np.mean(latitude),"\n")
print("latd_mean;", np.mean(longtitude))

Total Latd; 17397.83245536

Total longd; -57761.778112

latd_mean; 36.09508808165975

latd_mean; -119.8377139253112

In [55]:
# city with the maximum latitude
city[latitude.argmax()]

'Dorris'

In [56]:
# city with the minimum latitude
city[latitude.argmin()]

'ImperialBeach'

In [57]:
# city with the maximum longtitude
city[longtitude.argmax()]

'Blythe'

In [58]:
# city with the minimum longtitude
city[longtitude.argmin()]

'Ferndale'

In [59]:
area_total_sq_mi=np.array(city_cc["area_total_sq_mi"])
area_land_sq_mi=np.array(city_cc['area_land_sq_mi'])
area_water_sq_mi=np.array(city_cc['area_water_sq_mi'])
print(area_total_sq_mi)
print(area_land_sq_mi)
print(area_water_sq_mi)

[5.60270e+01 7.82200e+00 2.29600e+01 5.46500e+00 7.63200e+00 7.47200e+00
 2.44900e+00 3.14000e-01 4.84500e+00 5.08110e+01 6.62000e+00 3.63700e+00
 2.90830e+01 7.35230e+01 1.11330e+01 1.09940e+01 5.83500e+00 1.62100e+00
 4.81900e+00 2.61300e+01 5.04900e+00 6.09600e+00 7.16600e+00 2.93700e+00
 1.94220e+01 9.66900e+00 1.43609e+02 6.78600e+00 2.30990e+01 4.13940e+01
 3.09260e+01 2.62000e+00 6.17000e+00 2.46300e+00 4.63000e+00 2.40600e+00
 1.57200e+01 1.76960e+01 5.71000e+00 6.53400e+00 6.36000e-01 1.91100e+00
 6.22000e-01 2.69720e+01 1.95800e+00 7.68200e+00 1.21090e+01 1.48050e+01
 2.00770e+01 1.58300e+00 1.05530e+01 1.73790e+01 6.05700e+00 1.33000e+01
 8.39100e+00 2.03631e+02 1.48470e+01 3.71600e+00 2.61300e+00 1.95430e+01
 5.88600e+00 4.67100e+00 1.67600e+00 3.91100e+01 1.08000e+00 9.27200e+00
 1.89680e+01 2.17560e+01 8.01900e+00 8.85600e+00 3.30950e+01 2.96520e+01
 4.47490e+01 7.66100e+00 5.20940e+01 1.42280e+01 1.34860e+01 3.83600e+00
 1.05810e+01 2.64800e+00 2.32780e+01 2.89500e+01 6.15000e+00 1.40700e+00
 1.90900e+00 1.60390e+01 1.83400e+00 6.53800e+00 1.01160e+01 3.05460e+01
 7.46700e+00 3.55000e+00 3.89300e+01 3.26660e+01 4.40600e+00 1.57000e+01
 1.88300e+00 7.04100e+00 2.41500e+00 1.22600e+00 5.13900e+00 1.12570e+01
 6.59000e+00 7.66400e+00 2.94840e+01 1.80280e+01 9.91900e+00 1.43550e+01
 1.77700e+00 4.83000e-01 2.36420e+01 1.48850e+01 6.47000e+00 7.09200e+00
 7.18000e-01 1.35000e+00 1.25680e+01 6.69000e+00 1.49120e+01 1.73500e+00
 2.61200e+00 1.14450e+01 1.44330e+01 1.10990e+01 3.68800e+00 4.22390e+01
 9.64800e+00 5.46500e+00 2.01000e+00 1.99900e+01 2.36800e+00 3.69890e+01
 7.59000e-01 1.44540e+01 2.46300e+00 2.20400e+00 3.76350e+01 2.25800e+00
 1.02700e+00 3.36500e+00 3.51900e+00 2.43010e+01 4.24320e+01 2.80000e+00
 6.02000e-01 4.84500e+00 1.98410e+01 9.03100e+00 2.53100e+00 8.76100e+01
 1.12308e+02 2.23600e+01 5.94400e+00 5.86500e+00 1.79590e+01 1.61560e+01
 3.05830e+01 1.95580e+01 7.97500e+00 1.95900e+00 3.50200e+00 4.74300e+00
 2.13500e+00         nan 2.31400e+00 1.31400e+00 1.55100e+00 6.44400e+00
 1.65890e+01 9.56000e-01 6.09200e+00 6.37480e+01 4.46400e+00 2.78470e+01
 1.81790e+01 1.42700e+00 7.32090e+01 1.68900e+00 1.88900e+01 6.19000e+00
 7.29000e+00 1.15300e+00 1.81500e+00 3.18820e+01 3.01600e+00 1.59100e+00
 4.48500e+00 5.85600e+00 1.45910e+01 2.91890e+01 1.20640e+01 9.09300e+00
 4.78000e+00 6.64540e+01 9.61300e+00 4.92000e-01 3.73000e+00 4.35000e+01
 3.23300e+00 3.98400e+00 2.82800e+00 8.64500e+00 1.53870e+01 9.82100e+00
 6.69500e+00 1.48850e+01 3.11500e+00 7.37600e+00 6.16200e+00 4.16870e+01
 1.79020e+01 3.19800e+00 9.46600e+00 9.11600e+00 7.85700e+00 9.45470e+01
 1.83200e+00 3.48000e+00 3.55510e+01 3.24300e+00 2.30330e+01 8.56200e+00
 1.97400e+00 3.88000e+00 8.51700e+00 2.01300e+01 2.61000e+00 1.86900e+00
 2.51760e+01 3.71500e+00 1.38250e+01 7.51700e+00 1.91100e+00 1.16750e+01
 5.14370e+01 7.26700e+00 4.11600e+00 6.48700e+00 8.80200e+00 5.03000e+02
 1.01170e+01 1.11600e+01 3.55000e-01 4.84000e+00 1.57890e+01 1.98280e+01
 2.53060e+01 3.94100e+00 1.77570e+01 1.50200e+00 9.76300e+00 1.31350e+01
 3.58500e+00 1.17800e+00 2.66800e+00 3.28100e+00 4.66070e+01 1.74150e+01
 2.33160e+01 3.25900e+00 4.84700e+00 1.36410e+01 1.81230e+01 3.70920e+01
 1.37140e+01 1.79300e+00 5.51700e+00 8.37300e+00 1.17640e+01 7.73300e+00
 1.61500e+00 1.27990e+01 9.44200e+00 5.14750e+01 1.28820e+01 1.03220e+01
 1.22730e+01 3.77000e+00 3.36130e+01 1.81470e+01 9.11600e+00 3.12750e+01
 2.19200e+00 1.38980e+01 2.10200e+00 5.29780e+01 1.42780e+01 9.74600e+00
 2.79570e+01 6.09500e+00 7.80020e+01 1.61550e+01 4.21740e+01 4.40100e+00
 5.00060e+01 2.52400e+01 1.91200e+00 1.26980e+01 2.97100e+00 1.30110e+01
 3.92080e+01 1.26600e+01 4.00300e+00 1.06216e+02 2.70140e+01 9.49750e+01
 2.57870e+01 4.77400e+00 1.83220e+01 4.84000e+00 2.19400e+00 2.31280e+01
 1.94250e+01 5.95400e+00 3.15030e+01 1.44890e+01 8.88200e+00 1.67800e+00
 1.35750e+01 1.34760e+01 1.91540e+01 6.58200e+00 5.81300e+00 7.07200e+00
 2.42660e+01 9.44000e-01 1.35000e+00 2.29640e+01 1.76790e+01 4.67100e+00
 5.40700e+00 9.09300e+00 3.91650e+01 3.38740e+01 3.98710e+01         nan
 1.34650e+01 1.29920e+01 7.67700e+00 6.11750e+01 3.64270e+01 6.20800e+00
 3.46250e+01 5.15600e+00 2.23650e+01 5.24800e+01 2.14170e+01 2.41800e+00
 7.09400e+00 5.49500e+00 4.11600e+00 8.14440e+01 1.95940e+01 7.00800e+00
 2.99100e+00 3.61300e+00 5.17600e+00 3.62230e+01 1.55600e+00 1.00105e+02
 2.32170e+01 2.67700e+00 5.96450e+01 5.47800e+00 5.54100e+00 1.94680e+01
 2.92400e+00 3.72400e+02 1.54270e+01 2.37400e+00 2.31890e+02 4.14600e+00
 5.52400e+00 2.61310e+01 1.14800e+00 1.79970e+02 7.11000e-01 1.42950e+01
 1.56630e+01 1.29300e+01 2.43900e+01 3.77400e+00 1.58840e+01 2.63400e+00
 2.24220e+01 1.80770e+01 2.75180e+01 4.19680e+01 1.84070e+01 6.21600e+01
 1.58280e+01 8.91400e+00 2.33950e+01 8.41600e+00 4.70700e+00 4.14990e+01
 1.65280e+01 1.23820e+01 2.25700e+00 4.59500e+00 1.30400e+01 9.37600e+00
 1.85300e+00 5.13600e+00 2.79450e+01 1.09290e+01 2.95700e+00 2.19100e+00
 4.22470e+01 3.62400e+00 4.56600e+00 2.42600e+00 2.74200e+00 3.07800e+00
 2.84800e+00 7.35300e+00 1.66030e+01 3.41700e+00 3.01580e+01 3.15000e+00
 5.02700e+00 6.47530e+01 4.16300e+00 2.26890e+01 8.01700e+00 2.55800e+00
 1.51130e+01 9.97100e+00 7.94000e-01 3.01670e+01 4.00600e+00 5.51810e+01
 1.31820e+01 2.05530e+01 2.21390e+01 6.71000e-01 3.36540e+01 2.10160e+01
 4.12000e-01 1.69280e+01 1.10820e+01 5.91430e+01 4.72200e+00 1.90000e+01
 1.56510e+01 2.85850e+01 4.95000e+01 3.20950e+01 5.15700e+00 7.37410e+01
 2.07800e+00 3.62660e+01 1.86780e+01 8.99600e+00 1.97690e+01 9.42600e+00
 2.36900e+00 6.78300e+00 4.79500e+00 1.60900e+01 1.88700e+00 5.50900e+00
 1.00490e+01 5.90000e-01 2.28460e+01 1.48600e+00 1.47000e+01 2.36880e+01
 5.44400e+00 2.80300e+00 2.87300e+00 7.29300e+00 2.93700e+00 2.76500e+00
 1.53030e+01 1.17320e+01 2.00180e+01 1.53100e+00 1.00530e+01 1.46560e+01
 2.78930e+01 4.00150e+01]
[5.60090e+01 7.79300e+00 1.06110e+01 1.78800e+00 7.63100e+00 7.47200e+00
 2.43500e+00 3.14000e-01 4.83700e+00 4.98350e+01 6.37200e+00 3.62800e+00
 2.83490e+01 7.31930e+01 1.09250e+01 9.09700e+00 5.83500e+00 1.62100e+00
 4.81900e+00 2.56410e+01 5.01700e+00 6.08700e+00 7.13800e+00 2.93500e+00
 1.94220e+01 9.65600e+00 1.42164e+02 6.63100e+00 2.30990e+01 4.13850e+01
 3.09120e+01 2.50100e+00 6.11700e+00 2.45900e+00 4.62100e+00 5.19000e-01
 1.29290e+01 1.04700e+01 5.70800e+00 6.34600e+00 6.36000e-01 1.86400e+00
 5.92000e-01 2.61890e+01 1.95700e+00 7.68200e+00 1.20780e+01 1.47860e+01
 3.09600e+00 1.58200e+00 1.05240e+01 1.73410e+01 4.40600e+00 1.32490e+01
 8.39100e+00 2.03523e+02 1.48470e+01 3.71600e+00 2.59500e+00 1.95280e+01
 5.79800e+00 3.92800e+00 1.59300e+00 3.77220e+01 1.08000e+00 2.58600e+00
 1.87240e+01 2.14990e+01 8.01100e+00 8.72500e+00 3.29230e+01 2.96390e+01
 4.46810e+01 7.66100e+00 4.96310e+01 1.42280e+01 1.33480e+01 3.83600e+00
 1.01290e+01 2.64800e+00 2.32780e+01 2.89500e+01 6.11900e+00 1.40700e+00
 1.90900e+00 1.53240e+01 1.83400e+00 6.53700e+00 1.00120e+01 3.05460e+01
 7.46700e+00 3.55000e+00 3.88250e+01 7.93100e+00 3.16400e+00 1.56540e+01
 1.88000e+00 7.02600e+00 1.96300e+00 1.17500e+00 5.11100e+00 1.12560e+01
 6.58100e+00 7.66400e+00 6.49700e+00 1.80280e+01 9.88700e+00 1.43030e+01
 1.70700e+00 4.81000e-01 2.36150e+01 1.48800e+01 6.47000e+00 6.99600e+00
 7.02000e-01 1.35000e+00 1.24080e+01 6.69000e+00 1.49080e+01 1.69800e+00
 2.50500e+00 1.14050e+01 1.44330e+01 1.10810e+01 3.68800e+00 4.21900e+01
 9.56200e+00 5.46300e+00 1.24600e+00 1.88120e+01 2.30100e+00 3.68130e+01
 7.58000e-01 9.38400e+00 2.46300e+00 2.20400e+00 3.43900e+01 2.25800e+00
 1.02700e+00 3.36400e+00 3.46200e+00 2.19450e+01 4.24320e+01 2.70000e+00
 6.02000e-01 4.84500e+00 3.75600e+00 9.01800e+00 2.53100e+00 7.74590e+01
 1.11957e+02 2.23530e+01 5.93100e+00 5.82900e+00 1.79410e+01 1.61460e+01
 3.04530e+01 1.93930e+01 7.90300e+00 1.92100e+00 3.50200e+00 4.74300e+00
 2.13500e+00 2.07000e+00 2.31000e+00 1.30900e+00 1.55100e+00 6.42400e+00
 1.65890e+01 9.46000e-01 6.08100e+00 4.53230e+01 4.45700e+00 2.78470e+01
 6.20500e+00 1.42700e+00 7.30960e+01 1.68900e+00 1.87550e+01 6.19000e+00
 7.29000e+00 1.14800e+00 1.81500e+00 2.67480e+01 3.01300e+00 1.59100e+00
 4.16100e+00 5.85600e+00 1.43210e+01 2.91810e+01 1.17850e+01 9.06800e+00
 4.76500e+00 6.61060e+01 8.82600e+00 4.40000e-01 3.73000e+00 4.33000e+01
 3.23300e+00 3.84500e+00 2.82800e+00 8.62800e+00 1.52210e+01 8.85000e+00
 6.67000e+00 1.48330e+01 3.11500e+00 7.37000e+00 6.15900e+00 3.62080e+01
 1.78160e+01 3.05800e+00 9.41500e+00 9.07600e+00 7.84000e+00 9.42760e+01
 1.80800e+00 3.47900e+00 3.51170e+01 3.02700e+00 2.19310e+01 8.43000e+00
 1.97400e+00 3.88000e+00 8.51700e+00 2.01060e+01 2.61000e+00 1.86900e+00
 2.51730e+01 3.71500e+00 1.36110e+01 7.51600e+00 1.91100e+00 1.15970e+01
 5.02930e+01 7.26700e+00 4.05000e+00 6.48700e+00 8.80200e+00 4.69000e+02
 9.99300e+00 1.10800e+01 3.55000e-01 4.84000e+00 1.57890e+01 1.97850e+01
 2.48660e+01 3.93700e+00 1.77330e+01 1.50200e+00 8.88300e+00 1.21310e+01
 3.46400e+00 1.17800e+00 2.66800e+00 3.27800e+00 4.64660e+01 9.79000e+00
 2.33160e+01 3.24700e+00 4.76300e+00 1.35910e+01 1.77390e+01 3.68670e+01
 1.36050e+01 1.77800e+00 5.51700e+00 8.33300e+00 8.46600e+00 7.67200e+00
 1.61500e+00 1.25790e+01 9.43300e+00 5.12750e+01 1.28820e+01 5.30300e+00
 1.19950e+01 3.76600e+00 3.35770e+01 1.78390e+01 7.27700e+00 3.08080e+01
 2.18800e+00 1.38750e+01 2.10200e+00 2.38050e+01 1.39620e+01 9.70700e+00
 2.74400e+01 6.04500e+00 5.57860e+01 1.58530e+01 4.12350e+01 4.38600e+00
 4.99410e+01 2.47970e+01 1.91200e+00 1.26830e+01 2.97100e+00 1.29930e+01
 2.68940e+01 1.26580e+01 2.86500e+00 1.05961e+02 2.68100e+01 9.41160e+01
 2.38840e+01 4.77400e+00 1.83080e+01 4.72900e+00 2.19400e+00 2.29700e+01
 1.91200e+01 5.95400e+00 3.13930e+01 1.43820e+01 8.29600e+00 1.67800e+00
 5.32300e+00 3.59900e+00 1.72180e+01 6.56800e+00 5.81200e+00 7.07200e+00
 2.41130e+01 9.31000e-01 1.35000e+00 2.29520e+01 1.76070e+01 4.45100e+00
 5.40700e+00 9.09200e+00 3.90790e+01 3.35070e+01 3.98510e+01 2.44470e+01
 1.34650e+01 1.29570e+01 7.56300e+00 5.96470e+01 3.61260e+01 6.19800e+00
 1.94200e+01 5.08400e+00 2.23510e+01 3.00680e+01 2.07660e+01 2.28200e+00
 6.69100e+00 5.30500e+00 4.09200e+00 8.11400e+01 1.95410e+01 7.00300e+00
 2.99100e+00 3.56900e+00 5.16200e+00 3.62220e+01 1.55600e+00 9.79150e+01
 2.31790e+01 2.67700e+00 5.92010e+01 5.47800e+00 5.53800e+00 1.87110e+01
 5.62000e-01 3.25190e+02 1.50370e+01 2.37400e+00 4.68700e+01 4.14500e+00
 5.52400e+00 2.57160e+01 1.14800e+00 1.76526e+02 7.11000e-01 1.41150e+01
 1.33430e+01 1.27770e+01 2.43700e+01 3.76700e+00 1.21300e+01 2.63400e+00
 1.64700e+01 1.80610e+01 2.72700e+01 1.94680e+01 1.84070e+01 6.21000e+01
 1.27400e+01 8.87400e+00 2.27560e+01 8.41500e+00 4.59300e+00 4.12940e+01
 1.62350e+01 1.23820e+01 1.77100e+00 4.59500e+00 1.12860e+01 9.23700e+00
 1.85300e+00 5.13600e+00 2.79450e+01 1.09210e+01 2.95300e+00 2.18900e+00
 4.14800e+01 3.52000e+00 4.41400e+00 2.42500e+00 2.74200e+00 3.06400e+00
 2.84300e+00 7.23600e+00 1.01610e+01 3.40500e+00 9.14100e+00 3.15000e+00
 4.98600e+00 6.16700e+01 4.10500e+00 2.19870e+01 7.93100e+00 2.55800e+00
 1.51130e+01 9.87400e+00 7.94000e-01 3.01510e+01 4.00600e+00 5.50310e+01
 4.44600e+00 2.04780e+01 2.20030e+01 4.85000e-01 3.23220e+01 2.09310e+01
 4.10000e-01 1.69280e+01 1.10820e+01 5.91430e+01 4.67000e+00 1.90000e+01
 1.56170e+01 2.83730e+01 3.06000e+01 2.16550e+01 4.97300e+00 7.31780e+01
 2.07800e+00 3.62460e+01 1.86780e+01 8.99200e+00 1.97570e+01 9.42600e+00
 2.32800e+00 6.68700e+00 4.79000e+00 1.60410e+01 1.88700e+00 5.18500e+00
 1.00490e+01 5.90000e-01 2.14250e+01 1.47900e+00 1.47000e+01 2.36880e+01
 5.44400e+00 2.79800e+00 2.84700e+00 7.26800e+00 2.91200e+00 2.24800e+00
 1.53030e+01 1.17320e+01 1.94830e+01 1.53100e+00 9.98000e+00 1.45780e+01
 2.78880e+01 4.00150e+01]
[1.8000e-02 2.9000e-02 1.2349e+01 3.6770e+00 1.0000e-03 0.0000e+00
 1.4000e-02 0.0000e+00 8.0000e-03 9.7600e-01 2.4800e-01 9.0000e-03
 7.3400e-01 3.3000e-01 2.0800e-01 1.8970e+00 0.0000e+00 0.0000e+00
 0.0000e+00 4.8900e-01 3.2000e-02 9.0000e-03 2.8000e-02 2.0000e-03
 0.0000e+00 1.3000e-02 1.4450e+00 1.5500e-01 0.0000e+00 9.0000e-03
 1.4000e-02 1.1900e-01 5.3000e-02 4.0000e-03 9.0000e-03 1.8870e+00
 2.7910e+00 7.2260e+00 2.0000e-03 1.8800e-01 0.0000e+00 4.7000e-02
 3.0000e-02 7.8300e-01 1.0000e-03 0.0000e+00 3.1000e-02 1.9000e-02
 1.6981e+01 1.0000e-03 2.9000e-02 3.8000e-02 1.6510e+00 5.1000e-02
 0.0000e+00 1.0800e-01 0.0000e+00 0.0000e+00 1.8000e-02 1.5000e-02
 8.8000e-02 7.4300e-01 8.3000e-02 1.3880e+00 0.0000e+00 6.6860e+00
 2.4400e-01 2.5700e-01 8.0000e-03 1.3100e-01 1.7200e-01 1.3000e-02
 6.8000e-02 0.0000e+00 2.4630e+00 0.0000e+00 1.3800e-01 0.0000e+00
 4.5200e-01 0.0000e+00 0.0000e+00 0.0000e+00 3.1000e-02 0.0000e+00
 0.0000e+00 7.1500e-01 0.0000e+00 1.0000e-03 1.0400e-01 0.0000e+00
 0.0000e+00 0.0000e+00 1.0500e-01 2.4735e+01 1.2420e+00 4.6000e-02
 3.0000e-03 1.5000e-02 4.5200e-01 5.1000e-02 2.8000e-02 1.0000e-03
 9.0000e-03 0.0000e+00 2.2987e+01 0.0000e+00 3.2000e-02 5.2000e-02
 7.0000e-02 2.0000e-03 2.7000e-02 5.0000e-03 0.0000e+00 9.6000e-02
 1.6000e-02 0.0000e+00 1.6000e-01 0.0000e+00 4.0000e-03 3.7000e-02
 1.0700e-01 4.0000e-02 0.0000e+00 1.8000e-02 0.0000e+00 4.9000e-02
 8.6000e-02 2.0000e-03 7.6400e-01 1.1780e+00 6.7000e-02 1.7600e-01
 1.0000e-03 5.0700e+00 0.0000e+00 0.0000e+00 3.2450e+00 0.0000e+00
 0.0000e+00 1.0000e-03 5.7000e-02 2.3560e+00 3.0000e+00        nan
 0.0000e+00 0.0000e+00 1.6085e+01 1.3000e-02 0.0000e+00 1.0151e+01
 3.5100e-01 1.1000e-02 1.3000e-02 3.6000e-02 1.8000e-02 1.0000e-02
 1.3000e-01 1.6500e-01 7.2000e-02 3.8000e-02 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 4.0000e-03 5.0000e-03 0.0000e+00 2.0000e-02
 0.0000e+00 1.0000e-02 1.1000e-02 1.8425e+01 7.0000e-03 0.0000e+00
 1.1974e+01 0.0000e+00 1.1300e-01 0.0000e+00 1.3500e-01 0.0000e+00
 0.0000e+00 5.0000e-03 0.0000e+00 5.1340e+00 3.0000e-03 0.0000e+00
 3.2400e-01 0.0000e+00 2.7000e-01 8.0000e-03 2.7900e-01 2.5000e-02
 1.5000e-02 3.4800e-01 7.8700e-01 5.2000e-02 0.0000e+00 2.0000e-01
 0.0000e+00 1.3900e-01 0.0000e+00 1.7000e-02 1.6600e-01 9.7100e-01
 2.5000e-02 5.2000e-02 0.0000e+00 6.0000e-03 3.0000e-03 5.4790e+00
 8.6000e-02 1.4000e-01 5.1000e-02 4.0000e-02 1.7000e-02 2.7100e-01
 2.4000e-02 1.0000e-03 4.3400e-01 2.1600e-01 1.1020e+00 1.3200e-01
 0.0000e+00 0.0000e+00 0.0000e+00 2.4000e-02 0.0000e+00 0.0000e+00
 3.0000e-03 0.0000e+00 2.1400e-01 1.0000e-03 0.0000e+00 7.8000e-02
 1.1440e+00 0.0000e+00 6.6000e-02 0.0000e+00 0.0000e+00 3.4000e+01
 1.2400e-01 8.0000e-02 0.0000e+00 0.0000e+00 0.0000e+00 4.3000e-02
 4.4000e-01 4.0000e-03 2.4000e-02 0.0000e+00 8.8000e-01 1.0040e+00
 1.2100e-01 0.0000e+00 0.0000e+00 3.0000e-03 1.4100e-01 7.6250e+00
 0.0000e+00 1.2000e-02 8.4000e-02 5.0000e-02 3.8400e-01 2.2500e-01
 1.0900e-01 1.5000e-02 0.0000e+00 4.0000e-02 3.2980e+00 6.1000e-02
 0.0000e+00 2.2000e-01 9.0000e-03 2.0000e-01 0.0000e+00 5.0190e+00
 2.7800e-01 4.0000e-03 3.6000e-02 3.0800e-01 1.8390e+00 4.6700e-01
 4.0000e-03 2.3000e-02 0.0000e+00 2.9173e+01 3.1600e-01 3.9000e-02
 5.1700e-01 5.0000e-02 2.2216e+01 3.0200e-01 9.3900e-01 1.5000e-02
 6.5000e-02 4.4300e-01 0.0000e+00 1.5000e-02 0.0000e+00 1.8000e-02
 1.2314e+01 2.0000e-03 1.1380e+00 2.5500e-01 2.0400e-01 8.5900e-01
 1.9030e+00 0.0000e+00 1.4000e-02 1.1100e-01 0.0000e+00 1.5800e-01
 3.0500e-01 0.0000e+00 1.1000e-01 1.0700e-01 5.8600e-01 0.0000e+00
 8.2520e+00 9.8770e+00 1.9360e+00 1.4000e-02 1.0000e-03 0.0000e+00
 1.5300e-01 1.3000e-02 0.0000e+00 1.2000e-02 7.2000e-02 2.2000e-01
 0.0000e+00 1.0000e-03 8.6000e-02 3.6700e-01 2.0000e-02 3.8900e-01
 0.0000e+00 3.5000e-02 1.1400e-01 1.5280e+00 3.0100e-01 1.0000e-02
 1.5205e+01 7.2000e-02 1.4000e-02 2.2412e+01 6.5100e-01 1.3600e-01
 4.0300e-01 1.9000e-01 2.4000e-02 3.0400e-01 5.3000e-02 5.0000e-03
 0.0000e+00 4.4000e-02 1.4000e-02 1.0000e-03 0.0000e+00 2.1900e+00
 3.8000e-02 0.0000e+00 4.4400e-01 0.0000e+00 3.0000e-03 7.5700e-01
 2.3620e+00 4.7210e+01 3.9000e-01 0.0000e+00 1.8502e+02 1.0000e-03
 0.0000e+00 4.1500e-01 0.0000e+00 3.4390e+00 0.0000e+00 1.8000e-01
 2.3200e+00 1.5300e-01 2.0000e-02 7.0000e-03 3.7540e+00 0.0000e+00
 5.9520e+00 1.6000e-02 2.4800e-01 2.2500e+01 0.0000e+00 6.0000e-02
 3.0880e+00 4.0000e-02 6.3900e-01 1.0000e-03 1.1400e-01 2.0500e-01
 2.9300e-01 0.0000e+00 4.8600e-01 0.0000e+00 1.7540e+00 1.3900e-01
 0.0000e+00 0.0000e+00 0.0000e+00 8.0000e-03 4.0000e-03 2.0000e-03
 7.6700e-01 1.0400e-01 1.5200e-01 1.0000e-03 0.0000e+00 1.4000e-02
 5.0000e-03 1.1700e-01 6.4420e+00 1.2000e-02 2.1017e+01 0.0000e+00
 4.1000e-02 3.0830e+00 5.8000e-02 7.0200e-01 8.6000e-02 0.0000e+00
 0.0000e+00 9.7000e-02 0.0000e+00 1.6000e-02 0.0000e+00 1.5000e-01
 8.7360e+00 7.5000e-02 1.3600e-01 1.8600e-01 1.3320e+00 8.5000e-02
 2.0000e-03 0.0000e+00 0.0000e+00 0.0000e+00 5.2000e-02 0.0000e+00
 3.4000e-02 2.1200e-01 1.8800e+01 1.0440e+01 1.8400e-01 5.6300e-01
 0.0000e+00 2.0000e-02 0.0000e+00 4.0000e-03 1.2000e-02 0.0000e+00
 4.1000e-02 9.6000e-02 5.0000e-03 4.9000e-02 0.0000e+00 3.2000e-01
 0.0000e+00 0.0000e+00 1.4210e+00 7.0000e-03 1.6000e-02 0.0000e+00
 0.0000e+00 5.0000e-03 2.6000e-02 2.5000e-02 2.5000e-02 5.1700e-01
 0.0000e+00 0.0000e+00 5.3500e-01 0.0000e+00 7.3000e-02 7.8000e-02
 5.0000e-03 0.0000e+00]

In [60]:
# total of area_total_sq_mi, area_land_sq_mi, area_water_sq_mi
print("area_total_sq_mi:", np.nansum(area_total_sq_mi))
print('area_land_sq_mi:', np.sum(area_land_sq_mi))
print('area_water_sq_mi;', np.nansum(area_water_sq_mi))

area_total_sq_mi: 8852.248
area_land_sq_mi: 8117.353000000001
area_water_sq_mi; 764.612

In [61]:
# minimum area_total_sq_mi
print('Minimum area_total_sq_mi:', area_total_sq_mi.min())

Minimum area_total_sq_mi: nan

In [62]:
# maximum of area_total_sq_mi
print('Maximum area_total_sq_mi:', area_total_sq_mi.max())

Maximum area_total_sq_mi: nan

In [63]:
# minimum of area_land_sq_mi
print('minimum area_land_sq_mi:', area_land_sq_mi.min())

minimum area_land_sq_mi: 0.314

In [64]:
# mmaximum of area_land_sq_mi
print('maximum area_land_sq_mi:', area_land_sq_mi.max())

maximum area_land_sq_mi: 469.0

In [65]:
population=np.array(city_cc["population_total"])
print('population:', population)

population: [  31765   20330   75467   18969   83089   47823    2827     185   19454
  336000    9932    3836  107100   69135   56364   17231   17716   16522
   19304   28310    6914   28168   13330    3728   13239   46361  347483
   75390   29603   22639   36877   35477   76616   42072   25835    2068
   26997  112580   34290    5019    1707    3879    1253   20817    1048
   24953   39282   51481    4282    4828   80530  103340   28806   23058
   38572   14120    7879    7705    5155   65201   39349   10561    9918
  105328    3722   13040   91714   51200   45417   49041   86187   77983
   75655   18720  243916   83301   34926   10897   15250    8618  101314
   40704   13380    1963    1792   52154    5971   12823   96455  122067
   25515   17382  158391   24697    9253  109960    7310   47796    7643
   23805   38883   58302   47802  101123   33351   42039   65622   53819
    4161    1624   25938   55544   21453   18351     939    4950  111772
   21321   49890    1650   28155   53668   99478   42598   23549  153015
  113475   16654   10080   59518    7266  143911     737   27191   10334
    7441  108321   10588    1371   15002    7549   72203  201812    7273
     839   11926   30567   55313    5570  220000  509039  135161   23647
   58829  170883   48821  196021   50073   29888    8187   12040   12860
   16330    6593   13156    7080    5520   11324   55283   14254   84293
  149392   11254   78657   24060   19506   90173    1856   53014   10825
   34928    5939    6640  197575   58114    6754   26324   14758    4958
   76036     219  109673    7918  215529    1422     804    4651   97496
   17303   12874   11382   20246   24285   22723   30344   62979   18747
   60239    5325   51821   77264    4753   80048   57065   48527  156633
   15568   39816   37467   11926   18023   31063   32769   25320   25281
   42819   11768    8392   83547   13058   62134   23261   20256   42434
  462257    6430   11449   28976    7922 3884307   35972   29413     769
   69772   61416   12645    8234   35135   71067    1154   29718   35824
   12072   27395   13745   11014   77519   32026   80793   21536   13903
   70092   96346  201165   36590    1443   36664   62500   27810   60269
    3341   34421   16016  193365   37882   10234   74066    3394  103466
   76915   58582    4844    3068   43539   10224   85186   27063  105549
   51904   20675  406253   35432  183095    7461  163924  136416    9078
   18342    7291   15506  203585   37234   15295  152750   48445   44552
   64403   13438   26249   54098   14494  137122   29792   20413   71326
   58921   62942   10667   18390    7655   63264   50533   10389   33152
   70285    1005     449       1   55697   21723    2104    4353   47811
   64776  170746   17218   41643   47853   24674   92328   68747   66748
   76815   24194  101740  103701   27616    3363    7360   14297   22678
  313673   56974   40971    1860    8067   53764  127323    2415  466488
  163665   12336  209924   41114   28406   63522     334 1345895   33371
   23645  837442   39718   24270   44199    4001 1000536    1862   34593
   86869   45119   83781   13147   97207   29139   57713   73927  324528
   90893  116468  209130   62864   16223  101459   89736   29321  170685
   53413   29926    7061   11580   24168   33025    7379   23219   16988
   10164   10917   11465  126874   12867   25738    5245   10648    7169
   20116   94396   21403   25619   64409   38186    5814  301090   28111
  140081   17974    2501    9327   14414     418  105208   35558  128374
    8962  147027   82922     367   16180   59278    1010   69733   75540
   25768   16075   72155   73732   92428  115942  106433     112  120336
    5812  124442   93834   29172   64173   25545    8456   51199    2967
  106098   34650    8270   89701    2225   48744    3456   85331   32176
    5123    4888    6166   26801    6624    7279   55468    5287   65237
    2933    7765   64925   51367   20700]

In [66]:
# Total Population
print("Total population:", np.sum(population))

Total population: 31279358

In [67]:
# city with the minimum population
city[population.argmin()]

'Pomona'

In [68]:
# city with the maximum population
city[population.argmax()]

'LosAngeles'

In [69]:
# maximum population
print('maximum population;', population.max())

maximum population; 3884307

In [70]:
# minimum population
print('minimum population;', population.min())

minimum population; 1

In [71]:
# area_total_sq_mi with the maximum population
area_total_sq_mi[population.argmax()]

503.0

In [72]:
# area_total_sq_mi with the minimum population
area_total_sq_mi[population.argmin()]

22.964

In [73]:
# area_land_sq_mi with the maximum population
area_land_sq_mi[population.argmax()]

469.0

In [74]:
# area_land_sq_mi with the minimum population
area_land_sq_mi[population.argmin()]

22.952

In [75]:
# area_water_sq_mi with the maximum population 
area_water_sq_mi[population.argmax()]

34.0

In [76]:
# area_water_sq_mi with the minimum population 
area_water_sq_mi[population.argmin()]

0.012

### Assignment 2

In [80]:
city_boy= pd.read_csv('C:\\Users\\Dreamuser\\Desktop\\Numpy Class\\Dataset\\product.csv')
city_boy

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,ID_XWINUFGG,1970,Graduation,Married,52893.6,1,1,19-06-2014,24,2,...,0,4,5,0,0,0,0,0,0,0
1564,ID_GLVIHZLR,1980,Graduation,Single,74190.0,0,1,07-08-2013,63,1,...,30,27,4,0,0,0,0,0,0,0
1565,ID_O11VSIJY,1952,Master,Married,80857.2,0,1,15-01-2013,74,4,...,0,70,7,0,1,0,0,0,0,0
1566,ID_VS37P6MS,1964,PhD,Single,58701.6,1,1,12-04-2014,28,2,...,0,1,4,0,0,0,0,0,0,0
1567,ID_AKHOY7EI,1970,Graduation,Together,27873.6,1,0,26-01-2014,78,2,...,1,0,8,0,0,0,0,0,0,0

In [81]:
use product data to compute the following using np: 
extract the  Year_of_Birth, Education_Level, Marital_Status, Disposable_Income, No_of_Kids_in_home and       
No_of_Teen_in_home column from the data
    compute the aggregation of sum of Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts,
    Amount_on_SweetProducts,Amount_on_GoldProds, mean and median
    compute the maximum  and minimum of Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, 
    Amount_on_SweetProducts,Amount_on_GoldProds  
    indicate the Education_Level and Marital_Status with maximum and minimum Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, 
    Amount_on_SweetProducts,Amount_on_GoldProds
    indicate the Year_of_Birth with minimum and maximum Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, 
    Amount_on_SweetProducts,Amount_on_GoldProds

SyntaxError: invalid syntax (<ipython-input-81-136225c3a6fb>, line 1)

In [114]:
YOB = np.array(city_boy['Year_of_Birth'])
EDU_LEVEL = np.array(city_boy['Education_Level'])
MARITAL = np.array(city_boy['Marital_Status'])
DISPOSABLE = np.array(city_boy['Disposable_Income'])
NKH =np.array(city_boy['No_of_Kids_in_home'])
NTH = np.array(city_boy['No_of_Teen_in_home'])
WINES = np.array(city_boy['Amount_on_Wines'])
FRUITS = np.array(city_boy['Amount_on_Fruits'])
MEATPRODUCTS = np.array(city_boy['Amount_on_MeatProducts'])
FISHPRODUCTS= np.array(city_boy['Amount_on_FishProducts'])
SWEETPRODUCTS = np.array(city_boy['Amount_on_SweetProducts'])
GOLDPRODS =np.array(city_boy['Amount_on_GoldProds'])


print("Year of birth:", YOB, "\n")
print("Education Level:", EDU_LEVEL, "\n")
print("Marital Status:", MARITAL, "\n")
print("Disposable Income:", DISPOSABLE, "\n")
print("No_of_Kids_in_home:", NKH , "\n")
print("No_of_Teen_in_home:", NTH, "\n")
print("Amount_on_Wines:", WINES, "\n")
print("Amount_on_Fruits:",FRUITS, "\n")
print("Amount_on_FishProducts:", FISHPRODUCTS, '\n')
print("Amount_on_SweetProducts:",SWEETPRODUCTS, "\n")
print("Amount_on_MeatProducts:",MEATPRODUCTS, "\n")
print("Amount_on_GoldProds:", GOLDPRODS)

Year of birth: [1955 1958 1962 ... 1952 1964 1970]

Education Level: ['Graduation' 'Graduation' 'Graduation' ... 'Master' 'PhD' 'Graduation']

Marital Status: ['Divorced' 'Together' 'Single' ... 'Married' 'Single' 'Together']

Disposable Income: [ 77504.4  56784.  103714.8 ...  80857.2  58701.6  27873.6]

No_of_Kids_in_home: [1 0 0 ... 0 1 1]

No_of_Teen_in_home: [1 1 0 ... 1 1 0]

Amount_on_Wines: [ 71 205 469 ... 820  57  18]

Amount_on_Fruits: [ 3 22 31 ... 11  3  5]

Amount_on_FishProducts: [ 0 50 29 ... 11  0  6]

Amount_on_SweetProducts: [ 6 15 18 ...  0  0  1]

Amount_on_MeatProducts: [ 16 111 873 ...  53   9  18]

Amount_on_GoldProds: [20 19 37 ... 70  1  0]

In [148]:
# sum of Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, Amount_on_SweetProducts,Amount_on_GoldProds
print("Amount_on_Wines:", np.sum(WINES), "\n")
print("Amount_on_Fruits:", np.sum(FRUITS), '\n')
print("Amount_on_Sweet:", np.sum(SWEETPRODUCTS), '\n')
print("Amount_on_MeatProducts:", np.sum(MEATPRODUCTS), '\n')
print("Amount_on_GoldProds:", np.sum(GOLDPRODS), '\n')
print("Amount_on_FishProducts:", np.sum(FISHPRODUCTS))

Amount_on_Wines: 475402

Amount_on_Fruits: 45615

Amount_on_Sweet: 42023

Amount_on_MeatProducts: 264014

Amount_on_GoldProds: 68583

Amount_on_FishProducts: 58277

In [147]:
#  mean of Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, Amount_on_SweetProducts,Amount_on_GoldProds
print("Mean of Amount_on_Wines:", np.mean(WINES), "\n")
print("Mean of Amount_on_Fruits:", np.mean(FRUITS), '\n')
print("Mean of Amount_on_Sweet:", np.mean(SWEETPRODUCTS), '\n')
print("Mean of Amount_on_MeatProducts:", np.mean(MEATPRODUCTS), '\n')
print("Mean of Amount_on_GoldProds:", np.mean(GOLDPRODS), '\n')
print("Mean of Amount_on_FishProducts:", np.mean(FISHPRODUCTS))

Mean of Amount_on_Wines: 303.1900510204082

Mean of Amount_on_Fruits: 29.091198979591837

Mean of Amount_on_Sweet: 26.800382653061224

Mean of Amount_on_MeatProducts: 168.3762755102041

Mean of Amount_on_GoldProds: 43.73915816326531

Mean of Amount_on_FishProducts: 37.16645408163265

In [146]:
# median of Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, Amount_on_SweetProducts,Amount_on_GoldProds
print("Median of Amount_on_Wines:", np.median(WINES), "\n")
print("Medianof Amount_on_Fruits:", np.median(FRUITS), '\n')
print("Median of Amount_on_Sweet:", np.median(SWEETPRODUCTS), '\n')
print("Median of Amount_on_MeatProducts:", np.median(MEATPRODUCTS), '\n')
print("Median of Amount_on_GoldProds:", np.median(GOLDPRODS), '\n')
print("Median of Amount_on_FishProducts:", np.median(FISHPRODUCTS))

Median of Amount_on_Wines: 167.0

Medianof Amount_on_Fruits: 11.0

Median of Amount_on_Sweet: 8.0

Median of Amount_on_MeatProducts: 64.0

Median of Amount_on_GoldProds: 25.0

Median of Amount_on_FishProducts: 12.0

In [145]:
#  minimum of Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, Amount_on_SweetProducts,Amount_on_GoldProds
print("Minimum of Amount_on_Wines:", WINES.min(), "\n")
print("Minimum of Amount_on_Fruits:",FRUITS.min(), "\n")
print("Minimum of Amount_on_FishProducts:", FISHPRODUCTS.min(), '\n')
print("Minimum of Amount_on_SweetProducts:",SWEETPRODUCTS.min(), "\n")
print("Minimum of Amount_on_MeatProducts:",MEATPRODUCTS.min(), "\n")
print("Minimum of Amount_on_GoldProds:", GOLDPRODS.min())

Minimum of Amount_on_Wines: 5

Minimum of Amount_on_Fruits: 3

Minimum of Amount_on_FishProducts: 0

Minimum of Amount_on_SweetProducts: 0

Minimum of Amount_on_MeatProducts: 0

Minimum of Amount_on_GoldProds: 0

In [144]:
#  maximum of Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, Amount_on_SweetProducts,Amount_on_GoldProds
print("Maximum of Amount_on_Wines:", WINES.max(), "\n")
print("Maximum of Amount_on_Fruits:",FRUITS.max(), "\n")
print("Maximum of Amount_on_FishProducts:", FISHPRODUCTS.max(), '\n')
print("Maximum of Amount_on_SweetProducts:",SWEETPRODUCTS.max(), "\n")
print("Maximum of Amount_on_MeatProducts:",MEATPRODUCTS.max(), "\n")
print("Maximum of Amount_on_GoldProds:", GOLDPRODS.max())

Maximum of Amount_on_Wines: 1498

Maximum of Amount_on_Fruits: 202

Maximum of Amount_on_FishProducts: 259

Maximum of Amount_on_SweetProducts: 263

Maximum of Amount_on_MeatProducts: 1725

Maximum of Amount_on_GoldProds: 362

In [142]:
#  Educational level maximum  Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts,Amount_on_SweetProducts,Amount_on_GoldProds
argmax_wines= EDU_LEVEL[WINES.argmax()]
argmax_fruits=EDU_LEVEL[FRUITS.argmax()]
argmax_meat=EDU_LEVEL[MEATPRODUCTS.argmax()]
argmax_fish=EDU_LEVEL[FISHPRODUCTS.argmax()]
argmax_sweet= EDU_LEVEL[SWEETPRODUCTS.argmax()]
argmax_gold= EDU_LEVEL[GOLDPRODS.argmax()]
print("Educationa level with the maximum number of Wines:", argmax_wines, "\n")
print("Educationa level with the maximum number of Fruits:", argmax_fruits, "\n")
print("Educationa level with the maximum number of MeatProducts:", argmax_meat, "\n")
print("Educationa level with the maximum number of FishProducts:", argmax_fish, "\n")
print("Educationa level with the maximum number of SweetProducts:", argmax_sweet, "\n")
print("Educationa level with the maximum number of GoldProds:", argmax_gold)

Educationa level with the maximum number of Wines: PhD

Educationa level with the maximum number of Fruits: Graduation

Educationa level with the maximum number of MeatProducts: Graduation

Educationa level with the maximum number of FishProducts: 2n Cycle

Educationa level with the maximum number of SweetProducts: Graduation

Educationa level with the maximum number of GoldProds: Graduation

In [141]:
#  Educational level mimimun  Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts,Amount_on_SweetProducts,Amount_on_GoldProds
argmin_wines= EDU_LEVEL[WINES.argmin()]
argmin_fruits=EDU_LEVEL[FRUITS.argmin()]
argmin_meat=EDU_LEVEL[MEATPRODUCTS.argmin()]
argmin_fish=EDU_LEVEL[FISHPRODUCTS.argmin()]
argmin_sweet= EDU_LEVEL[SWEETPRODUCTS.argmin()]
argmin_gold= EDU_LEVEL[GOLDPRODS.argmin()]
print("Educationa level with the miniimum number of Wines:", argmin_wines, "\n")
print("Educationa level with the minimum number of Fruits:", argmin_fruits, "\n")
print("Educationa level with the minimum number of MeatProducts:", argmin_meat, "\n")
print("Educationa level with the minimum number of FishProducts:", argmin_fish, "\n")
print("Educationa level with the minimum number of SweetProducts:", argmin_sweet, "\n")
print("Educationa level with the minimum number of GoldProds:", argmin_gold)

Educationa level with the miniimum number of Wines: Basic

Educationa level with the minimum number of Fruits: Graduation

Educationa level with the minimum number of MeatProducts: 2n Cycle

Educationa level with the minimum number of FishProducts: Graduation

Educationa level with the minimum number of SweetProducts: Master

Educationa level with the minimum number of GoldProds: Graduation

In [140]:
#  Marital Status maximum  Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts,Amount_on_SweetProducts,Amount_on_GoldProds
argmax_wines= MARITAL[WINES.argmax()]
argmax_fruits=MARITAL[FRUITS.argmax()]
argmax_meat=MARITAL[MEATPRODUCTS.argmax()]
argmax_fish=MARITAL[FISHPRODUCTS.argmax()]
argmax_sweet= MARITAL[SWEETPRODUCTS.argmax()]
argmax_gold= MARITAL[GOLDPRODS.argmax()]
print("Marital Status with the maximum number of Wines:", argmax_wines, "\n")
print("Marital Status with the maximum number of Fruits:", argmax_fruits, "\n")
print("Marital Status with the maximum number of MeatProducts:", argmax_meat, "\n")
print("Marital Status with the maximum number of FishProducts:", argmax_fish, "\n")
print("Marital Status with the maximum number of SweetProducts:", argmax_sweet, "\n")
print("Marital Status with the maximum number of GoldProds:", argmax_gold)

Marital Status with the maximum number of Wines: Married

Marital Status with the maximum number of Fruits: Single

Marital Status with the maximum number of MeatProducts: Together

Marital Status with the maximum number of FishProducts: Widow

Marital Status with the maximum number of SweetProducts: Single

Marital Status with the maximum number of GoldProds: Single

In [139]:
#  Marital Status minimum Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts,Amount_on_SweetProducts,Amount_on_GoldProds
argmin_wines= MARITAL[WINES.argmin()]
argmin_fruits=MARITAL[FRUITS.argmin()]
argmin_meat=MARITAL[MEATPRODUCTS.argmin()]
argmin_fish=MARITAL[FISHPRODUCTS.argmin()]
argmin_sweet= MARITAL[SWEETPRODUCTS.argmin()]
argmin_gold= MARITAL[GOLDPRODS.argmin()]
print("Marital Status with the mimimun number of Wines:", argmin_wines, "\n")
print("Marital Status with the mimimun number of Fruits:", argmin_fruits, "\n")
print("Marital Status with the mimimun number of MeatProducts:", argmin_meat, "\n")
print("Marital Status with the mimimun number of FishProducts:", argmin_fish, "\n")
print("Marital Status with the mimimun number of SweetProducts:", argmin_sweet, "\n")
print("Marital Status with the mimimun number of GoldProds:", argmin_gold)

Marital Status with the mimimun number of Wines: Single

Marital Status with the mimimun number of Fruits: Divorced

Marital Status with the mimimun number of MeatProducts: Divorced

Marital Status with the mimimun number of FishProducts: Divorced

Marital Status with the mimimun number of SweetProducts: Married

Marital Status with the mimimun number of GoldProds: Together

In [137]:
# The Year_of_Birth with the minimum Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, Amount_on_SweetProducts,Amount_on_GoldProds
argmin_wines= YOB[WINES.argmin()]
argmin_fruits=YOB[FRUITS.argmin()]
argmin_meat=YOB[MEATPRODUCTS.argmin()]
argmin_fish=YOB[FISHPRODUCTS.argmin()]
argmin_sweet= YOB[SWEETPRODUCTS.argmin()]
argmin_gold= YOB[GOLDPRODS.argmin()]
print("Year_of_Birth with the mimimun number of Wines:", argmin_wines, "\n")
print("Year_of_Birth with the mimimun number of Fruits:", argmin_fruits, "\n")
print("Year_of_Birth with the mimimun number of MeatProducts:", argmin_meat, "\n")
print("Year_of_Birth with the mimimun number of FishProducts:", argmin_fish, "\n")
print("Year_of_Birth with the mimimun number of SweetProducts:", argmin_sweet, "\n")
print("Year_of_Birth with the mimimun number of GoldProds:", argmin_gold)

Year_of_Birth with the mimimun number of Wines: 1992

Year_of_Birth with the mimimun number of Fruits: 1955

Year_of_Birth with the mimimun number of MeatProducts: 1976

Year_of_Birth with the mimimun number of FishProducts: 1955

Year_of_Birth with the mimimun number of SweetProducts: 1960

Year_of_Birth with the mimimun number of GoldProds: 1956

In [136]:
# The Year_of_Birth with the maximum Amount_on_Wines, Amount_on_Fruits, Amount_on_MeatProducts, Amount_on_FishProducts, Amount_on_SweetProducts,Amount_on_GoldProds
argmax_wines= YOB[WINES.argmin()]
argmax_fruits=YOB[FRUITS.argmin()]
argmax_meat=YOB[MEATPRODUCTS.argmin()]
argmax_fish=YOB[FISHPRODUCTS.argmin()]
argmax_sweet= YOB[SWEETPRODUCTS.argmin()]
argmax_gold= YOB[GOLDPRODS.argmin()]
print("Year_of_Birth with the maximum number of Wines:", argmax_wines, "\n")
print("Year_of_Birth with the maximum number of Fruits:", argmax_fruits, "\n")
print("Year_of_Birth with the maximum number of Meatproducts:", argmax_meat, "\n")
print("Year_of_Birth with the maximum number of FishProducts:", argmax_fish, "\n")
print("Year_of_Birth with the maximum number of SweetProducts:", argmax_sweet, "\n")
print("Year_of_Birth with the maximum number of GoldProds:", argmax_gold)

Year_of_Birth with the maximum number of Wines: 1992

Year_of_Birth with the maximum number of Fruits: 1955

Year_of_Birth with the maximum number of Meatproducts: 1976

Year_of_Birth with the maximum number of FishProducts: 1955

Year_of_Birth with the maximum number of SweetProducts: 1960

Year_of_Birth with the maximum number of GoldProds: 1956